.indykite-sdk-container {
  background-color: #212121;
  min-height: 100vh;
}

.indykite-sdk-container .full-view-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.indykite-sdk-container .full-view-container .select-container {
  position: relative;
  display: inline-block !important;
  border: solid 1px #333;
  margin-right: 20px !important;
  position: relative;
  width: 92px !important;
  min-height: 100% !important;
  background-color: #262626;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #333;
}

.indykite-sdk-container .full-view-container .select-container .toggle-container {
  margin: 10px;
  padding: 2px 2px;
  border-radius: 5px;
  border: solid 1px #333;
  background-color: #262626;
}

.indykite-sdk-container .full-view-container .select-container .toggle-container .btn-option {
  width: 100%;
  background-color: #262626;
  border: none;
  color: #fff;
  font-size: 9px;
  height: 20px;
  display: block;
}

.indykite-sdk-container
  .full-view-container
  .select-container
  .toggle-container
  .btn-option:hover {
  cursor: pointer;
}

.indykite-sdk-container
  .full-view-container
  .select-container
  .toggle-container
  .btn-option.selected {
  border-radius: 5px;
  background-color: #ede8e1;
  color: #0a0a0a;
  padding-top: 4px;
  padding-bottom: 4px;
}

.indykite-sdk-container .full-view-container .select-container .dropdown-container {
  padding: 10px;
}

.indykite-sdk-container .full-view-container .select-container .language-container {
  padding: 10px;
  position: relative;
}

.indykite-sdk-container
  .full-view-container
  .select-container
  .language-container:hover
  .active-display {
  background-color: #404040;
  cursor: pointer;
}

.indykite-sdk-container
  .full-view-container
  .select-container
  .language-container
  .active-display {
  border-radius: 5px;
  background-color: #333;
  position: relative;
}

.indykite-sdk-container
  .full-view-container
  .select-container
  .language-container
  .active-display.toggled {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #404040;
}

.indykite-sdk-container
  .full-view-container
  .select-container
  .language-container
  .active-display
  .selected-label {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 9px;
  display: block;
  padding: 5px 7.5px;
  font-weight: 300;
}

.indykite-sdk-container
  .full-view-container
  .select-container
  .language-container
  .active-display
  .arrow {
  position: absolute;
  top: -1px;
  right: 7.5px;
}

.indykite-sdk-container
  .full-view-container
  .select-container
  .language-container
  .active-display
  .arrow
  svg {
  fill: #fff;
  height: 10px;
}

.indykite-sdk-container
  .full-view-container
  .select-container
  .language-container
  .selection-container {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  background-color: #333;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 2.5px;
  overflow: hidden;
}

.indykite-sdk-container
  .full-view-container
  .select-container
  .language-container
  .selection-container:hover {
  cursor: pointer;
}

.indykite-sdk-container
  .full-view-container
  .select-container
  .language-container
  .selection-container:hover {
}

.indykite-sdk-container
  .full-view-container
  .select-container
  .language-container
  .selection-container
  .single-option {
  color: #fff;
  font-family: "Rubik", sans-serif;
  padding: 3px 7.5px;
  font-size: 9px;
  font-weight: 300;
}

.indykite-sdk-container
  .full-view-container
  .select-container
  .language-container
  .selection-container
  .single-option:hover {
  background-color: #404040;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.indykite-sdk-container .full-view-container .full-login-container {
  position: relative;
  display: inline-block !important;
  position: relative;
  border: dashed 2px #333;
  background-color: #262626;
  min-height: 600px;
  min-width: 550px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.indykite-sdk-container .full-view-container .full-login-container::-webkit-scrollbar {
  display: none;
}

.indykite-sdk-container .full-view-container .full-login-container > div {
  padding: 50px 100px;
  margin: 0 auto;
  justify-content: center;
  display: block;
}

.indykite-sdk-container .full-view-container .full-login-container > div input {
  width: 100%;
}

.indykite-sdk-container
  .full-view-container
  .full-login-container
  .indykite-login-section
  .indykite-login-container {
  width: 100% !important;
  border-radius: 5px;
  border: solid 1px #333;
  background-color: #262626;
  overflow: hidden;
}

.indykite-sdk-container
  .full-view-container
  .full-login-container
  .indykite-login-section
  .indykite-login-container
  .inner-indykite-login-container {
  background: none !important;
}

.indykite-sdk-container .copyright-container {
  width: 100%;
  text-align: center;
  margin-top: 24px;
}

.indykite-sdk-container .copyright-container .copyright-label {
  color: #fafafa;
  font-size: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 590px) {
  .indykite-sdk-container .full-view-container .login-container {
    min-height: unset;
    min-width: unset;
  }
}
